<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Welcome - ARORA Rentals</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/welcomeStyle.css')}}">
    </head>
    <body>
        <div class="bg">
            
            <p class="heading1">Welcome To <span class="highlight">MY</span> Home</p>
            <p class="sub">Your New Home Awaits</p>
        </div>
        <header id="home">
            <nav class="navbar">
                <div class="container">
                    <img src="{{url_for('static',filename='images/arora-logo.png')}}" class="Roof" alt="ARORA Rentals Logo">
                    <ul id="checklist">
                        <li class="menu"><a href="#home">Home</a></li>
                        <li class="menu1" onclick="openAboutForm()">About Us</li>
                        <div class="form-popup" id="aboutForm">
                            <form class="form-container">
                                <p class="heading2">ABOUT US<p>
                                <div class="divider-custom">---------------
                                    <i class="fa fa-star" aria-hidden="true"></i>---------------
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="about-us">
                                            <h4 class="vision">------Our Vision------</h4><br>
                                             To create a comprehensive online apartment rental platform where users can seamlessly rent properties or list their own for lease.
                                            <br>
                                            <h4 class="mission">------Our Mission------</h4><br>
                                            This project was developed by Anant Arora as a part of the 3rd-year DBMS curriculum. It is a fully functional web application designed to demonstrate all key features of a modern rental management system. Our primary goal is to digitize and simplify the apartment rental process, making it easier for customers to find and secure their next home.
                                        </div>
                                        <button type="button" class="cancel-btn" onclick="closeAboutForm()">Close</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <li class="menu1" onclick="openContactForm()">Contact Us</li>
                        <div class="form-popup" id="contactForm">
                            <form class="form-container">
                                <p class="heading3">Give us your Valuable Feedback<p>
                                <div class="divider-custom">---------------
                                    <i class="fa fa-star" aria-hidden="true"></i>---------------
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <form id="contactForm">
                                        <div class="form1">
                                                <label for="name">Full name :</label>
                                                <input type="text" placeholder="Enter your name..." required/>
                                                <label for="phone">Phone number :</label>
                                                <input type="text" placeholder="(91) 1234567890" required min="10"/>
                                            </div>
                                            <div class="form2">
                                                <label for="email">Email address :</label>
                                                <input type="email" placeholder="name@example.com" required/>
                                                <label for="apt_no">Apartment No :</label>
                                                <input type="number" placeholder="312" required maxlength="4" />
                                            </div>
                                            <div class="form3">
                                                <label class="msg">Message :</label>
                                                <textarea type="text" placeholder="Enter your message here..." required/></textarea>
                                            </div>
                                            <button class="btn" id="submitButton" type="submit">Send</button>
                                            <button type="button" class="btn cancel" onclick="closeContactForm()">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <li class="menu">
                            <div class="dropdown">
                                <span class="signin">Sign In<i class="fa fa-user-circle-o fa-lg"></i></span>
                                <div class="dropdown-content">
                                    <a href="\AdminLogin">Admin</a>
                                    <a href="\TenantLogin">Tenant</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <script type="text/javascript" src="{{url_for('static',filename='js/welcomeScripts.js')}}"></script>

    </body>
</html>